.effect {
  &.twirl-left {
    &:after {
      transform-origin: center center;
       transform : rotateX(0deg) rotateY(0deg) rotateZ(180deg);
      color: $hover;
    }

    &:hover {
      &:after {
         transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
         opacity: 1;
      }
    }
  }

  &.twirl-right {
    &:after {
       transform-origin: center center;
       transform: rotateX(0deg) rotateY(0deg) rotateZ(-180deg);
      color: $hover;
    }

    &:hover {
      &:after {
         transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
         opacity: 1;
      }
    }
  }
}