$normal: rgba(0, 0, 0, .5);
$hover: rgba(255, 255, 255, .9);
$transition-normal: all 0.2s ease-out;

.effect {
  transition: $transition-normal;
  perspective: 400;
  transform-style:preserve-3d;
  position: relative;
  color: $normal;
  line-height: 1em;
  backface-visibility: hidden;

  &:after,
  &:before {
    opacity: 0;
    transform-origin: center center 0;
    transition: $transition-normal;
    position: absolute;
    content: attr(data-effect);
    backface-visibility: hidden;
    top: 0;
    left: 0;
    color: $hover;
    color: rgba(255, 255, 255, .9);
  }
}

@import "background";
@import "box";
@import "open";
@import "slide";
@import "twirl";
@import "zoom";